<header class="header">
  <a href="/" class="header_logo">Nodejs</a>
  <nav class="header_nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <button type="button" class="header_btn">Button</button>
  </nav>

  <div class="header_button">
    <button class="search_btn" aria-expanded="false">Search</button>
  </div>
</header>