<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
  <div class="container">
    <a class="logo" href="/">ATW</a>
    <ul class="nav show">
      <li class="item">
        <a class="<%= isActiveRoute('/', currentRoute) %>" href="/">Home</a>
      </li>
      <li class="item">
        <a class="<%= isActiveRoute('/about', currentRoute) %>" href="/about">About</a>
      </li>
      <li class="item">
        <a class="<%= isActiveRoute('/contact', currentRoute) %>" href="/contact">Portfolio</a>
      </li>
    </ul>
  </div>
</nav><!-- End of Page Navbar -->