<div class="author">
<<<<<<< Updated upstream
  <div class="author_heading">Hi, I am Raddy.</div>
  <div class="author_body">Web developer and content creator</div>
=======
  <!-- <div class="author_heading">Hi, I am IEB_BOY.</div> -->
  <!-- <div class="author_body">Web developer (zero)</div> -->
>>>>>>> Stashed changes
</div>

<!-- <img src="/img/portfolio.webp" alt="Hero image" class="hero-image" width="981" height="528"> -->

<!-- about section -->
<section class="section" id="about">
  <!-- container -->
  <div class="container text-center">
    <!-- about wrapper -->
    <div class="about">
      <div class="about-img-holder">
        <img src="/img/man.png" class="about-img"
          alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
      </div>
      <div class="about-caption">
        <!-- <p class="section-subtitle">Who Am I ?</p> -->
        <h2 class="section-title mb-3">Hi, I am IEB_BOY</h2>
        <p>
          I am a self-motivated and experienced web developer with a demonstrated history of working in the program
          development industry I'm challenging by using my skill and self study the latest technology.
        </p>
        <button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>
      </div>
    </div><!-- end of about wrapper -->
  </div><!-- end of container -->
</section> <!-- end of about section -->

<!-- portfolio section -->
<section class="section" id="portfolio">
  <div class="container text-center">
    <p class="section-subtitle">What I Did ?</p>
    <h6 class="section-title mb-6">Portfolio</h6>
    <!-- row -->
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="portfolio-card">
          <img src="/img/folio-1.jpg" class="portfolio-card-img"
            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
          <span class="portfolio-card-overlay">
            <span class="portfolio-card-caption">
              <h4>Web Designing</h5>
                <p class="font-weight-normal">Category: Web Templates</p>
            </span>
          </span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="portfolio-card">
          <img class="portfolio-card-img" src="/img/folio-2.jpg" class="img-responsive rounded"
            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
          <span class="portfolio-card-overlay">
            <span class="portfolio-card-caption">
              <h4>Web Designing</h5>
                <p class="font-weight-normal">Category: Web Templates</p>
            </span>
          </span>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#" class="portfolio-card">
          <img class="portfolio-card-img" src="/img/folio-3.jpg" class="img-responsive rounded"
            alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
          <span class="portfolio-card-overlay">
            <span class="portfolio-card-caption">
              <h4>Web Designing</h5>
                <p class="font-weight-normal">Category: Web Templates</p>
            </span>
          </span>
        </a>
      </div>
    </div><!-- end of row -->
  </div><!-- end of container -->
</section> <!-- end of portfolio section -->

<!-- section -->
<section class="section-sm bg-primary">
  <!-- container -->
  <div class="container text-center text-sm-left">
    <!-- row -->
    <div class="row align-items-center">
      <div class="col-sm offset-md-1 mb-4 mb-md-0">
        <h6 class="title text-light">Want to work with me?</h6>
        <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
      </div>
      <div class="col-sm offset-sm-2 offset-md-3">
        <button class="btn btn-lg my-font btn-light rounded">Hire Me</button>
      </div>
    </div> <!-- end of row -->
  </div> <!-- end of container -->
</section> <!-- end of section -->

<section class="article">
  <h2 calss="articles_heading">Welcome to my blog</h2>
  <ul class="article-ul">
    <% data.forEach(function(post) { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span>
            <%= post.title %>
          </span>
          <span class="article-list_date">
            <%= post.createAt.toDateString() %>
          </span>
        </a>
      </li>
      <% }); %>
  </ul>

  <% if (nextPage !==null ) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">View Older Posts</a>
    <% } %>

</section>