<div class="author">
  <div class="author_heading">Hi, I am IEB_BOY.</div>
  <!-- <div class="author_body">Web developer (zero)</div> -->
</div>

<img src="/img/portfolio.webp" alt="Hero image" class="hero-image" width="981" height="528">
<section class="article">
  <h2 calss="articles_heading">Welcome to my blog</h2>
  <ul class="article-ul">
    <% data.forEach(function(post) { %>
      <li>
        <a href="/post/<%= post._id %>">
          <span>
            <%= post.title %>
          </span>
          <span class="article-list_date">
            <%= post.createAt.toDateString() %>
          </span>
        </a>
      </li>
      <% }); %>
  </ul>

  <% if (nextPage !==null ) { %>
    <a href="/?page=<%= nextPage %>" class="pagination">View Older Posts</a>
    <% } %>

</section>